@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color:rgb(34, 40, 49) ;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#EEEEEE;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.nav__link{
    list-style:none;
}

.nav__link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__link li a {
    transition: all 0.3s ease 0s;
}

.nav__link li a:hover {
    color:#00ADB5;
} 

.btn-contact{
    color: #EEEEEE;
    background-color: #526D82;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 48px;
    padding: 0.9370em 2.180em;
}

.btn-contact:hover {
    background-color: #9DB2BF;
    transform: scale(1.1);
}

section{
    padding: 250px 200px;
}

.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.main h2{
    color: #EEEEEE;
    font-size: 1.8em;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
 }  
    
.container{
    position: absolute;
    right: 0%;
    padding: 150px 100px;
}   

.main h2 span{
    display: inline-block;
    color: #00ADB5;
    font-size: 3em;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.social-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 200px;
    padding: 10px 20px;
    position: absolute;
    left: 20%;
}

.social-icons a{
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover{
    color: #00ADB5;
}






