body {
    font-family: "Readex Pro", sans-serif;
}

#mobileMenu a {
    padding: 10px;
}
.service-card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}
nav a {
    transition: 0.2s;
}
nav a:hover {
    color: #d1d5db;
}